<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>{{title}}</title>
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/robot.png">
        <p>This app is created by Harsh Modi. It uses API from darksky.net and mapbox.com</p>
        </div>
        {{>footer}}
    </body>

</html>